package {{ .DomainPkg }}

import (
	"context"
)

//go:generate mockery --name Event --inpackage --case snake
type Event interface {
	Created(ctx context.Context, ent {{ .DomainType }}) error
	Updated(ctx context.Context, fromEnt, toEnt {{ .DomainType }}) error
	Deleted(ctx context.Context, ent {{ .DomainType }}) error
}
